* {
    padding: 0;
    margin: 0;
}
body{
  font-family: "Inter", sans-serif;

}
nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 8%;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #575757;
}

.common-button {
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 12px 41px;
    border: none;
}
header{
    background-image: url('./images/banner.jpg');
    height: 90vh;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    
}
.banner-top{
    color: white;
    text-align: center;
    gap: 10px;
    
}
.main-content{
    display: grid;
    text-align: center;
    gap: 250px;
}
h1{
    margin-bottom: 18px;
}